{% form_theme form 'annonce/_form_theme.html.twig' %}
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.entete, {'label': 'Titre'}) }}
{{ form_row(form.corps) }}
{{ form_row(form.rubrique) }}
{{ form_row(form.images) }}
<button class="btn btn-info"><i class="fas fa-check-circle"></i> {{ button_label|default('Publier') }}</button>
{{ form_end(form) }}
{# https://bootsnipp.com/snippets/eNbOa A voir pour preview des images #}