{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>
{{ dump() }}
    <div class="row justify-content-center">
        {#        {% if message %}#}
        {#            <div class="col-md-10">#}
        {#                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">#}
        {#                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
        {#                        <span aria-hidden="true">&times;</span>#}
        {#                    </button>#}
        {#                    <strong>{{ message }}</strong>#}
        {#                </div>#}

        {#                <script>#}
        {#                    $(".alert").alert();#}
        {#                </script>#}
        {#            </div>#}
        {#        {% endif %}#}
        <div class="col-md-10">

            <div class="card mb-3 shadow">
                {% if annonce.images %}
                    <div id="carouselExampleControls" class="carousel slide card-img-top"
                         data-ride="carousel" style="overflow: hidden">

                        {% for img in annonce.images %}
                            {#                            {{ dump(img) }}#}
                            {% if img %}
                                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %} ">
                                    {#                                    <img class="d-block w-100 card-img-top" src="img/{{ img.src }}" alt=""#}
                                    <img class="d-block w-100 card-img-top" src="/images/annonces{{asset(img.imageName)}}" alt=""
                                         style="max-height: 300px">
                                </div>
                            {% else %}
                                <img src="" class=""
                                     alt="Pas d'image" style="max-height: 500px">
                            {% endif %}
                        {% endfor %}
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {#                        <img src="{{ annonce.imgSrc }}" class="card-img img-fluid" alt="..." style="max-height: 500px">#}
                {% else %}
                    <img src="" class="card-img img-fluid"
                         alt="Pas d'image" style="max-height: 500px">
                {% endif %}
                {#                {{ dump(annonce) }}#}
                <div class="card-body">
                    <h5 class="card-title text-capitalize">{{ annonce.entete }}</h5>
                    <h6>Rubrique: {{ annonce.rubrique.libelle }}</h6>
                    <p class="card-text">{{ annonce.corps }}</p>
                    <p class="card-text"><small class="text-muted">Mise en ligne le {{ annonce.createdAt|date('d/m/Y') }},
                            visité {#{{ annonce.visites }}#} fois</small></p>
                </div>
            </div>
        </div>
    </div>
{#    <table class="table">#}
{#        <tbody>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ annonce.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Entete</th>#}
{#                <td>{{ annonce.entete }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Corps</th>#}
{#                <td>{{ annonce.corps }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>CreatedAt</th>#}
{#                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>ExpiredAt</th>#}
{#                <td>{{ annonce.expiredAt ? annonce.expiredAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}

    <a href="{{ path('annonce_index') }}">Retour à la liste</a>

    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
