{% extends 'base.html.twig' %}

{% block title %}Hello RubriqueController!{% endblock %}

{% block body %}

{# <h2 class="mt-4">les annonces</h2> #}

<h2 class="text-muted mt-4">les annonces</h2><br>

<div class="row">
{% for annonce in annonces %}

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <div class="title">{{ annonce.rubrique.libelle }}</div>
                </h4>
                <h5>{{ annonce.entete }}</h5>
                <p class="card-text">{{ annonce.corps }}</p>
                <div class="metadata"> Ecrit le {{ annonce.createdAt | date('d/m/y') }} à {{ annonce.createdAt | date('H:i') }}</div>
                <div>Publié par : {{annonce.user.firstName}}</div>

                <a href=" {{ path('rubrique_show', {'id' : annonce.id}) }} " class="btn btn-primary">voir l'annonce</a>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">expire le 05/05/2020</small>
            </div>
        </div>
    </div>
    
{% endfor %}
</div>
{% endblock %}